<p><a href="<%= home_path %>"><button type="button" name="button">Revenir à la page d'accueil</button></a></p>

<h1>Membres</h1>

<% @users.each do |user| %>

  <h2>Utilisateur n°<%= user.id %> :</h2>
  Prénom : <%= user.fname %><br>
  Nom : <%= user.lname %><br>
  Mail : <%= user.email %><br>

<% end %>
