<h1>Création d'un compte</h1>

<p>Entre tes infos</p><br>

<%= form_for @user do |f| %>

  <%= label_tag 'Ton prénom :' %>
  <%= f.text_field :fname, placeholder: "Jean-Michel" %><br>

  <%= label_tag 'Ton nom :' %>
  <%= f.text_field :lname, placeholder: "Blancoeur" %><br>

  <%= label_tag 'email:' %>
  <%= f.text_field :email, placeholder: "michou@gmail.com"%><br>

  <%= label_tag 'password:' %>
  <%= f.text_field :password %><br>

  <%= f.submit "Je m'enregistre !" %>

<% end %>

<p><a href="<%= home_path %>"><button type="button" name="button">Revenir à la page d'accueil</button></a></p>
